html, body, .mmap {
    height: 100%;
}

body {
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.mmap {
    overflow: hidden;
}

.func {
    position: absolute;
}

.func>*:hover {
    background-color: #ebebeb;
}

.func>* {
    background-color: #f6f6f6;
    border: 1px solid #b4b4b4;
    display: block;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

.func>input {
    width: 24px;
}
