html, body, .mmap, .sidebar {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.sidebar {
    float: left;
    width: 270px;
    background-color: #f7f7f7;
    border: 1px solid #dddddd;
    font: 14px sans-serif;
    color: #595959;
    overflow-y: auto;
}

.sidebar>h3 {
    margin: 0;
    padding: 12px 0;
    background-color: #e8e5e1;
    color: #717171;
    border-bottom: 1px solid #dedcdc;
    text-align: center;
}

.sidebar>div {
    width: 200px;
    margin: 10px auto;
}

#node-name, #font-size {
    background-color: #fafafa;
    border: 1px solid #b4b4b4;
    color: #6c6c6c;
    border-radius: 3px;
}

#node-name:focus {
    background-color: #f1f7f0;
}

#node-name {
    display: block;
    padding: 10px;
    width: 200px;
    margin: 10px 22px;
    text-align: center;
    font-size: 16px;
}

#font-size {
    padding: 5px;
    padding-right: 0;
    margin-right: 16px;
    margin-top: 14px;
    width: 44px;
    float: right;
    font-size: 15px;
}

.btn:hover {
    background-color: #ebebeb;
}

.btn {
    background-color: #f6f6f6;
    border: 1px solid #b4b4b4;
    padding: 10px;
    border-radius: 3px;
    margin: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.btn-color {
    width: 24px;
}

.mmap {
    margin-left: 272px;
}
