html, body, .mmap {
    height: 100%;
}

body {
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.mmap {
    overflow: hidden;
}

.func {
    position: absolute;
}

.func>.btn*:hover {
    background-color: #ebebeb;
}

.func>.btn {
    background-color: #f6f6f6;
    border: 1px solid #b4b4b4;
    display: block;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

.func>input.btn {
    width: 24px;
}

.func>input:first-child {
    padding: 10px;
    margin: 5px;
    margin-top: 10px;
    width: 180px;
    border: 2px solid #dbdbdb;
    text-align: center;
    background-color: #f6f6f6;
    font-size: 15px;
    border-radius: 3px;
    color: #757575;
}
