html, body, #maps, #mmp1, #mmp2, #sidebar {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

*:focus {
    outline: none;
}

#maps {
    margin-left: 402px;
}

#map1, #map2 {
    position: relative;
    height: 50%;
}

#map1 {
    border-bottom: 1px solid #CFCFCF;
}

#sidebar {
    position: relative;
    float: left;
    width: 400px;
    background-color: #f7f7f7;
    border-right: 1px solid #CFCFCF;
    color: #505050;
    overflow-y: auto;
}

#mocha {
    margin: 15px;
}

#mocha h1 {
    font-size: 24px;
}

#mocha-report ul > li.suite {
    margin-top: 15px;
}

#mocha-report .test > h2 > a.replay {
    display: none;
}

.commands > .buttons {
    position: absolute;
    z-index: 2;
    padding: 5px 8px 2px 8px;
    border-bottom: 1px solid #CFCFCF;
    border-right: 1px solid #CFCFCF;
    background-color: #FDFDFD;
    cursor: pointer;
    left: 0;
    top: 0;
}

.commands > .buttons > img:hover {
    background-color: #e5e5e5;
}

.commands > .ranges,
.commands > .colors {
    z-index: 2;
    position: absolute;
    left: 15px;
}

.commands > .colors {
    bottom: 45px;
}

.commands > .colors > input {
    display: block;
    margin-top: 8px;
}

.commands > .ranges {
    bottom: 8px;
}
