html, body, #mmp, #sidebar {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

*:focus {
    outline: none;
}

#mmp {
    margin-left: 502px;
}

#mmp1, #mmp2 {
    height: 50%;
}

#mmp1 {
    border-bottom: 1px solid #dddddd;
}

#mocha {
    margin: 15px;
}

#mocha h1 {
    font-size: 24px;
}

#mocha-report ul>li.suite {
    margin-top: 15px;
}

#mocha-report .test>h2>a.replay {
    display: none;
}

#sidebar {
    position: relative;
    float: left;
    width: 500px;
    background-color: #f7f7f7;
    border: 1px solid #dddddd;
    color: #505050;
    overflow-y: auto;
}

#commands {
    z-index: 1;
    position: fixed;
    padding: 10px;
    border: 1px solid #CFCFCF;
    background-color: #FDFDFD;
    border-radius: 10px;
    left: 510px;
    top: 8px;
    text-align: center;
}

#commands>* {
    margin-bottom: 10px;
}

#commands>img:hover {
    background-color: #eeeeee;
}

#commands>img {
    padding: 3px;
    cursor: pointer;
    margin-right: 5px;
    margin-top: 2px;
}

#commands>input[type='color'] {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

#node-name, #font-size, #image-size {
    width: 180px;
    margin-left: 0;
    margin-right: 0;
}

#node-name {
    text-align: center;
    border: 1px solid #bababa;
    font-size: 16px;
    color: #606060;
    padding: 5px 0;
}

#node-name:focus {
    background-color: #f1f7f0;
}
